<!DOCTYPE html>
<html lang="en">
<head>
    <title>GrandPy - PAPY ROBOT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="Jimi Bourgeois">
    <link rel="icon" type="image/png" href="../static/img/lunettes.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
</head>
<body>
    <header>
        <div>
            <h1 class="text-header"><img border="0" src="../static/img/lunettes.png" class="little_img" alt="PapyBot Lunettes" />  GrandPy Le Papy Robot</h1>
        </div>
    </header>

    <BR CLEAR="all">

    <div id="main-title">
        <div class="container">
            <p class="lead">Bonjour, je suis GrandPy, le papy robot qui parcours le monde pour vous.</p>
            <p class="lead">Si je vous dit que je peux retrouver n'importe quel endroit sur terre vous me croyez ??? Et bien je suis le Robot de la situation !!!</p>
            <img src="../static/img/lunettes.png" class="main_img" alt="main_img" />
            <p class="lead">Où désirez-vous allez sur notre bonne vielle planète ? </p>
        </div>
    </div>

    <div id="response-research" style="display : none">
        <div id="show-resp" class="container">
            <div id="title-map" class="ombreouts">
                <p class="lead">J'ai trouvé votre recherche sur la carte ...</p>
            </div>
            <div id="map"></div>
            <BR CLEAR="all">
            <div id="title-article">
                <p class="lead">Et est-ce que vous saviez ? ...</p>
            </div>
            <div id="wiki-article"  class="lead"></div>
            <BR CLEAR="all">
        </div>
    </div>

    <div id="response-none" style="display : none">
        <div class="container">
            <BR CLEAR="all">
            <img src="../static/img/error.png" class="error_img" alt="error" /></div>
            <BR CLEAR="all">
        </div>
    </div>

    <BR CLEAR="all">

    <div id="spinner" style="display : none">
        <div class="container">
            <BR CLEAR="all">
            <img src="../static/img/spinner.gif" alt="spinner" class="spinner_img" />
            <BR CLEAR="all">
        </div>
    </div>

    <BR CLEAR="all">

        <form method="POST">
            <div class="container">
                <div class="margin-form">
                    <input type="text" class="form-control" id="nameInput" placeholder="Ville, lieu ou adresse" style="text-align: center">
                    <button type="submit" class="btn btn-default">Allons-y !!!</button>
                </div>
            </div>
        </form>

    <BR CLEAR="all">

    <div id="footer">
      <div class="esp-img">
        <p class="">© Copyright 2020 / Projet étudiant Openclassroom
            <BR CLEAR="all">
            <a href="https://www.linkedin.com/in/jimi-bourgeois-47254a113/"><img border="0" src="../static/img/in.png" class="in_img" alt="in_logo" /></a>
            <a href="https://github.com/Bibjim/PAPY_BOT_P7"><img border="0" src="../static/img/github.png" class="github_img" alt="github_logo" /></a>
            <a href="https://trello.com/b/QyvrCfGq/ocp7papybot"><img border="0" src="../static/img/trello.png" class="trello_img" alt="trello_logo" /></a>
            <a href="https://fr.freepik.com/photos-vecteurs-libre/technologie"><img border="0" src="../static/img/freepix.png" class="freepix_img" alt="freepix_logo" /></a></p>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/request.js') }}" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"></script>

</body>
</html>