<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  </head>
  <body>
    <div><img src="images/montagne.jpg" alt="Photo de montagne" /></div>
    <div id="map"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeT-agUpv_TLsOvRo3HxKSLaJd2WCdp1U&callback=initMap"
    async defer></script>
  </body>
</html>