.little_img {
    width: 60px;
	height: 60px;
}

.error_img {
    width: 400px;
	height: 400px;
}

.in_img {
    width: 30px;
	height: 30px;
}

.github_img {
    width: 30px;
	height: 30px;
}

.trello_img {
    width: 30px;
	height: 30px;
}

.freepix_img {
    width: 30px;
	height: 30px;
}
.esp-img {
    position: absolute;
    margin-top: 600px;
    margin-left: 70px;
}

h1.text-header {
    text-align: left;
    margin-left: 70px;
}

DIV.margin-form {
    margin-left: auto;
    margin-right: auto;
}

#map{
    height: 400px;
}

header {
    background-color: #107db8;
}

body {
    background-color: #EFFDFF;
}

.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}